/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2014, 4:08:33 PM
    Author     : maik
*/
.patrons {
    float:right;
    width:70%;
}
.patrons a img {
    /*max-height: 35px;*/
}